In [3]:
import numpy as np
from numpy.linalg import norm


def cos_sim(x, y):
    return np.dot(x,y/ (norm(x)*norm(y)))
doc1=np.array([1,1,0,1])
doc2=np.array([1,0,1,1])
doc3=np.array([2,0,2,2])


print(cos_sim(doc1, doc2))
print(cos_sim(doc1, doc3))
print(cos_sim(doc2, doc3))

0.6666666666666667
0.6666666666666667
1.0

In [15]:
import pandas as pd
data=pd.read_csv("movies_metadata.csv")
data=data.head(20000)

C:\Users\Kyujin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
data

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,3.735540e+08,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,2.627972e+08,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.000000e+00,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,8.145216e+07,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,7.657891e+07,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,1995-12-15,1.874368e+08,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
6,False,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,1995-12-15,0.000000e+00,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0
7,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,1995-12-22,0.000000e+00,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0
8,False,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,1995-12-22,6.435017e+07,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,3.521940e+08,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0
10,False,NaN,62000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9087,tt0112346,en,The American President,"Widowed U.S. president Andrew Shepherd, one of...",...,1995-11-17,1.078795e+08,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Why can't the most powerful man in the world h...,The American President,False,6.5,199.0
11,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,12110,tt0112896,en,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,...,1995-12-22,0.000000e+00,88.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Dracula: Dead and Loving It,False,5.7,210.0
12,False,"{'id': 117693, 'name': 'Balto Collection', 'po...",0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,21032,tt0112453,en,Balto,An outcast half-wolf risks his life to prevent...,...,1995-12-22,1.134832e+07,78.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Part Dog. Part Wolf. All Hero.,Balto,False,7.1,423.0
13,False,NaN,44000000,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,10858,tt0113987,en,Nixon,An all-star cast powers this epic look at Amer...,...,1995-12-22,1.368176e+07,192.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Triumphant in Victory, Bitter in Defeat. He Ch...",Nixon,False,7.1,72.0
14,False,NaN,98000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,1408,tt0112760,en,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",...,1995-12-22,1.001732e+07,119.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Course Has Been Set. There Is No Turning B...,Cutthroat Island,False,5.7,137.0
15,False,NaN,52000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,524,tt0112641,en,Casino,The life of the gambling paradise – Las Vegas ...,...,1995-11-22,1.161124e+08,178.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one stays at the top forever.,Casino,False,7.8,1343.0
16,False,NaN,16500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,4584,tt0114388,en,Sense and Sensibility,"Rich Mr. Dashwood dies, leaving his second wif...",...,1995-12-13,1.350000e+08,136.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Lose your heart and come to your senses.,Sense and Sensibility,False,7.2,364.0
17,False,NaN,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,5,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,...,1995-12-09,4.300000e+06,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,6.5,539.0
18,False,"{'id': 3167, 'name': 'Ace Ventura Collection',...",30000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,9273,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",...,1995-11-10,2.123855e+08,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,New animals. New adventures. Same hair.,Ace Ventura: When Nature Calls,False,6.1,1128.0
19,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,11517,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,...,1995-11-21,3.543111e+07,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Get on, or GET OUT THE WAY!",Money Train,False,5.4,224.0
20,False,"{'id': 91698, 'name': 'Chili Palmer Collection...",30250000,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",NaN,8012,tt0113161,en,Get Shorty,Chili Palmer is a Miami mobster who gets sent ...,...,1995-10-20,1.151016e+08,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The mob is tough, but it’s nothing like show b...",Get Shorty,False,6.4,305.0
21,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,1710,tt0112722,en,Copycat,An agoraphobic psychologist and a female detec...,...,1995-10-27,0.000000e+00,124.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One man is copying the most notorious killers ...,Copycat,False,6.5,199.0
22,False,NaN,50000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9691,tt0112401,en,Assassins,Assassin Robert Rath arrives at a funeral to k...,...,1995-10-06,3.030307e+07,132.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"In the shadows of life, In the business of dea...",Assassins,False,6.0,394.0
23,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,12665,tt0114168,en,Powder,Harassed by classmates who won't accept his sh...,...,1995-10-27,0.000000e+00,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143.0
24,False,NaN,3600000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.mgm.com/title_title.do?title_star=L...,451,tt0113627,en,Leaving Las Vegas,"Ben Sanderson, an alcoholic Hollywood screenwr...",...,1995-10-27,4.980000e+07,112.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,I Love You... The Way You Are.,Leaving Las Vegas,False,7.1,365.0
25,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,16420,tt0114057,en,Othello,The evil Iago pretends to be friend of Othello...,...,1995-12-15,0.000000e+00,123.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Envy, greed, jealousy and love.",Othello,False,7.0,33.0
26,False,NaN,12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9263,tt0114011,en,Now and Then,Waxing nostalgic about the bittersweet passage...,...,1995-10-20,2.740000e+07,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,In every woman there is the girl she left behind.,Now and Then,False,6.6,91.0
27,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,17015,tt0114117,en,Persuasion,This film adaptation of Jane Austen's last nov...,...,1995-09-27,0.000000e+00,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Persuasion,False,7.4,36.0
28,False,NaN,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,902,tt0112682,fr,La Cité des Enfants Perdus,A scientist in a surrealist society kidnaps ch...,...,1995-05-16,1.738611e+06,108.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308.0
29,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,37557,tt0115012,zh,摇啊摇，摇到外婆桥,A provincial boy related to a Shanghai crime f...,...,1995-04-30,0.000000e+00,108.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,In 1930's Shanghai violence was not the proble...,Shanghai Triad,False,6.5,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19970,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,77012,tt0041662,en,Mr. Belvedere Goes to College,A middle-aged genius goes to college for the f...,...,1949-04-15,0.000000e+00,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Mr. Belvedere Goes to College,False,7.0,2.0
19971,False,"{'id': 121938, 'name': 'The Hobbit Collection'...",250000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.thehobbit.com/,49051,tt0903624,en,The Hobbit: An Unexpected Journey,"Bilbo Baggins, a hobbit enjoying his quiet lif...",...,2012-11-26,1.021104e+09,169.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,From the smallest beginnings come the greatest...,The Hobbit: An Unexpected Journey,False,7.0,8427.0
19972,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,288290,tt0393493,en,Mon Paradis - Der Winterpalast,A portrait of five St. Petersburgians and thei...,...,2001-01-01,0.000000e+00,48.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Mon Paradis - Der Winterpalast,False,0.0,0.0
19973,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,288259,tt1595364,en,No Flesh Shall Be Spared,Film about the making of the film Hardware.,...,2009-01-01,0.000000e+00,54.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,No Flesh Shall Be Spared,False,0.0,0.0
19974,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,288288,tt2354103,en,I am Von Höfler Variation on Werther,How does the process of film-making—like a hug...,...,2008-01-01,0.000000e+00,160.0,"[{'iso_639_1': 'hu', 'name': 'Magyar'}, {'iso_...",Released,NaN,I am Von Höfler Variation on Werther,False,0.0,0.0
19975,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 10769, '...",NaN,15770,tt0096507,en,Zhong hua ying xiong,"Jet, a young soldier at the end of the second ...",...,1986-02-16,0.000000e+00,120.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Born to Defend,False,5.7,6.0
19976,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 10769, '...",NaN,35038,tt0095542,cn,龍在天涯,Jimmy and Tiger are members of the Chinese nat...,...,1989-09-01,0.000000e+00,96.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,NaN,Dragon Fight,False,5.6,8.0
19977,False,NaN,0,"[{'id': 28, 'name': 'Action'}]",NaN,20811,tt0097775,cn,龍行天下,Uncle Tak is famous for using Chinese herbal m...,...,1992-05-29,8.096542e+06,92.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,NaN,The Master,False,5.9,28.0
19978,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",NaN,10852,tt0108624,cn,倚天屠龍記之魔教教主,A wild and rollicking martial arts fantasy ext...,...,1993-12-18,0.000000e+00,99.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}]",Released,NaN,Kung Fu Cult Master,False,6.8,14.0
19979,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",https://tribecafilm.com/tribecafilm/filmguide/...,127916,tt2331880,en,The Fitzgerald Family Christmas,The siblings of the Fitzgerald family must dec...,...,2012-09-09,0.000000e+00,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A time to share the spirit of the season.,The Fitzgerald Family Christmas,False,6.5,7.0
19980,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,87504,tt1477855,en,Hyde Park on Hudson,The story of the love affair between FDR and h...,...,2012-12-07,8.887603e+06,94.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The President. The First Lady. The King. The Q...,Hyde Park on Hudson,False,5.3,77.0
19981,False,NaN,26350000,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,84305,tt1132449,en,Lay the Favorite,A former stripper's talent with numbers lands ...,...,2012-06-22,1.576687e+06,94.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,How far can a losing shot take you?,Lay the Favorite,False,4.9,69.0
19982,False,NaN,0,"[{'id': 10402, 'name': 'Music'}, {'id': 99, 'n...",NaN,48599,tt0057230,cs,Konkurs,Two closely related episodes. Youths make prob...,...,1964-02-28,0.000000e+00,79.0,"[{'iso_639_1': 'cs', 'name': 'Český'}]",Released,NaN,Audition/Talent Competition,False,5.6,5.0
19983,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.allsfaireinlovefilm.com/afl_main.html,76297,tt1034090,en,All's Faire in Love,Two rival Medieval shows vie for supremacy in ...,...,2009-05-15,0.000000e+00,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,All's Faire in Love,False,6.3,4.0
19984,False,NaN,13000000,"[{'id': 18, 'name': 'Drama'}]",NaN,106135,tt1954352,en,Crooked Arrows,A native-American lacrosse team makes its way ...,...,2012-05-18,1.832541e+06,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Join the tribe.,Crooked Arrows,False,5.6,14.0
19985,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,18725,tt0113153,en,给爸爸的信,An undercover cop struggling to provide for hi...,...,1995-03-02,0.000000e+00,104.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}]",Released,NaN,The Enforcer,False,5.8,25.0
19986,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,31027,tt0110463,cn,Mao xian wang,A serial adventure writer with problems in his...,...,1996-02-10,0.000000e+00,86.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}]",Released,NaN,Dr. Wai in the Scriptures with No Words,False,5.8,13.0
19987,False,"{'id': 10457, 'name': 'Once Upon a Time in Chi...",12000000,"[{'id': 28, 'name': 'Action'}, {'id': 37, 'nam...",NaN,10620,tt0120530,cn,黃飛鴻之西域雄獅,So goes to the U.S. to open a martial arts sch...,...,1997-02-01,0.000000e+00,102.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,NaN,Once Upon a Time in China and America,False,5.7,23.0
19988,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,10616,tt0163818,en,Sat sau ji wong,"Financially troubled, a newbie hitman reluctan...",...,1998-04-03,0.000000e+00,103.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Contract Killer,False,6.2,30.0
19989,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,411432,tt0077772,cn,執法者,Chow Yun-Fat and Danny Lee star in this police...,...,1981-03-04,0.000000e+00,95.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}]",Released,NaN,The Executor,False,6.0,1.0
19990,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,40004,tt0431827,fr,Il ne faut jurer... de rien !,"Paris, 1830. Valentin loses himself in alcohol...",...,2005-09-28,0.000000e+00,101.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Never Say... Never!,False,4.8,10.0
19991,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,63481,tt0074524,fr,Calmos,"Two men, fortyish, worn out by their wives, ab...",...,1976-02-11,0.000000e+00,81.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Calmos,False,5.8,11.0
19992,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,40722,tt1241017,en,How to Make Love to a Woman,When Andy hears his girlfriend Lauren sigh aft...,...,2010-07-13,0.000000e+00,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A comedy of miscommunication between the sheets.,How to Make Love to a Woman,False,4.9,18.0
19993,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,83738,tt1986204,en,"After Fall, Winter","WINTER is a dangerous, sexy, poignant and at t...",...,2012-01-27,0.000000e+00,130.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,"After Fall, Winter",False,5.7,8.0
19994,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",http://www.violetafilm.com/,80717,tt2014392,es,Violeta se fue a los cielos,A portrait of famed Chilean singer and folklor...,...,2011-08-11,0.000000e+00,110.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,Creation is a bird without a flight plan,Violeta Went to Heaven,False,6.7,10.0
19995,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",http://www.lordreetlamorale-lefilm.com/#/nav/t...,76609,tt1242521,fr,L'Ordre et la Morale,Dissidents in a French colony attack a police ...,...,2011-11-16,0.000000e+00,136.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Rebellion,False,6.3,24.0
19996,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,8941,tt1132607,fr,Versailles,A young mother Nina and her son Enzo find them...,...,2008-05-19,0.000000e+00,113.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Versailles,False,6.0,4.0
19997,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}, {'id': 107...",NaN,64074,tt1528224,en,Two in the Wave,An in-depth analysis of the relationship betwe...,...,2010-05-19,0.000000e+00,91.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,NaN,Two in the Wave,False,5.5,5.0
19998,False,NaN,0,[],NaN,197723,tt0471239,en,Lotte Reiniger: Homage to the Inventor of the ...,Follows the life and work of animator Lotte Re...,...,2001-11-19,0.000000e+00,0.0,[],Released,NaN,Lotte Reiniger: Homage to the Inventor of the ...,False,0.0,0.0
19999,False,NaN,0,[],NaN,269797,tt0492337,en,"RKO Production 601: The Making of 'Kong, the E...","An in-depth look at the genesis, production, a...",...,2005-10-23,0.000000e+00,0.0,[],Released,NaN,"RKO Production 601: The Making of 'Kong, the E...",False,8.0,1.0

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [19]:
tfidf=TfidfVectorizer(stop_words='english')
tfidf
data['overview']=data['overview'].fillna('')

In [20]:
tfidf_mat=tfidf.fit_transform(data['overview'])
tfidf_mat.shape

(20000, 47487)

In [23]:
from sklearn.metrics.pairwise import linear_kernel## cosine 유사도를 구하는함수
cosine_sim=linear_kernel(tfidf_mat,tfidf_mat)
cosine_sim

array([[1.        , 0.01575748, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.01575748, 1.        , 0.04907345, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.04907345, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.08375766],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.08375766, 0.        ,
        1.        ]])

In [26]:
idx=pd.Series(data.index, index=data['title']).drop_duplicates()
idx.head()

title
Toy Story                      0
Jumanji                        1
Grumpier Old Men               2
Waiting to Exhale              3
Father of the Bride Part II    4
dtype: int64

In [39]:
idx['Rambo']

12356

In [43]:
def get_recommendations(title, cos_sim=cosine_sim):
    idx_title=idx[title]
    sim_score=list(enumerate(cos_sim[idx_title]))
    sim_score=sorted(sim_score,key=lambda x:x[1],reverse=True)
    mi=sim_score[1:11]
    res=[i[0] for i in mi]
    print(data['title'].iloc[res])

In [44]:
get_recommendations('Rambo')

2290                         First Blood
2291                           Rambo III
2289          Rambo: First Blood Part II
2693                   Universal Soldier
3832                          Billy Jack
9632     Strawberries in the Supermarket
1165                      Apocalypse Now
12252              Journey from the Fall
16638                     Little Soldier
10030                         The Search
Name: title, dtype: object

In [13]:
import requests
from bs4 import BeautifulSoup
login_info={'m_id':'leegj93',
           'm_passwd':'kyu032062'}

url_login="http://www.hanbit.co.kr/member/login_proc.php"

session=requests.session()
res=session.post(url_login, data=login_info)
res
url_mypage="http://www.hanbit.co.kr/myhanbit/myhanbit.html"
res=session.get(url_mypage)
soup=BeautifulSoup(res.text, 'html.parser')
mi=soup.select_one("#container > div > div.sm_mymileage > dl.mileage_section1 > dd > span").get_text()
ec=soup.select_one("#container > div > div.sm_mymileage > dl.mileage_section2 > dd > span").get_text()

print('마일리지:' +mi, "이코인:"+ec)

마일리지:2,000 이코인:0